html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif;
}

body {
    padding: 0 20px;
}

::selection {
    color: #fff;
    background: #664AFF;
}

.container {
    max-width: 450px;
    margin: 150px auto;
}

.container .searchInput {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput.active input {
    border-radius: 5px 5px 0 0;
}

.searchInput .resultBox {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.searchInput.active .resultBox {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.resultBox li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.searchInput.active .resultBox li {
    display: block;
}

.resultBox li:hover {
    background: #efefef;
}

.searchInput .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}

.clearfix{
  clear: both;
}
#box{
  width: 450px;
  overflow: auto;
  margin: 40px auto;
  background: #666;
  padding-bottom: 40px;
  border-radius: 10px;
}
#message{
  background: #333;
  color: #fff;
}
#gameBoard li{
  float: left;
  margin: 10px;
  height: 70px;
  width: 70px;
  font-size: 50px;
  background: #333;
  color: #ccc;
  list-style: none;
  text-align: center;
  border-radius: 5px;
}
#gameBoard li:hover, #reset:hover {
    cursor: pointer;
    background: #000;
}
#reset{
  border: 0;
  background: #444;
  color: #fff;
  width: 70%;
  padding: 15px;
  border-radius: 5px;
}
.o{
  color: green !important;
}
.x{
  color: red !important;
}
footer{
  display: block;
  text-align: center;
  padding-top: 20px;
}


/*Index*/
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.button.primary {
    background-color: #007bff;
}

.button.secondary {
   background-color: #6c757d;
}

/*Game*/
.clubLogo{
    width:70px;
}

.visible {
    animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
}

#notif {
    width: 200px;
    height: 100px;
    background: #70c48f;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    left: -200px;
}

@keyframes movein {
    from {
        left: -200px;
    }

    to {
        left: 10px;
    }
}

@keyframes moveout {
    from {
        left: 10px;
    }

    to {
        left: -200px;
    }
}


/*Layout*/
#loading-container {
    display:none;
    position: absolute;
    left: 42%;
    top: 1%;
    z-index: 1000;
}

#loading-gif {
    display: block;
    margin: 11px 15px 15px 16px;
    width: 198px;
    height: 190px;
}

/*WaitingRoom*/
#waiting_bar{
    width:400px;
}