<script src="@Url.Content("~/js/Views/Index/Index.js")" type="text/javascript" defer="defer"></script>

<div class="form-container">
    <h2>Tic Tac Toe</h2>
<input class="input-box" type="text" id="player1Name" autocomplete="off" placeholder="Enter your name here">
    <div class="button-container">
    <button class="button primary" id="create">Create Room</button>
    <button class="button secondary" id="join">Join Room</button>
    </div>
</div>
