<script src="@Url.Content("~/js/Views/Index/Index.js")" type="text/javascript" defer="defer"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SignalRfunctions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>


<div class="form-container">
    <h2>Tic Tac Toe</h2>
<input class="input-box" type="text" id="player1Name" placeholder="Enter your name here">
    <div class="button-container">
    <button class="button primary" id="create">Create Room</button>
    <button class="button secondary" id="join">Join Room</button>
    </div>
</div>
