@model int
<script src="@Url.Content("~/js/Views/Index/Index.js")" type="text/javascript" defer="defer"></script>

<div class="form-container">
    <h2>Enter game code you want to join</h2>
    <input class="input-box" type="text" id="gameCode" placeholder="Game Code">
    <div class="button-container">
        <button class="button secondary joinRoom" onclick="joinRoom(@Model)">Join Room</button>
    </div>
</div>

