<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>
<script src="@Url.Content("~/js/Views/Index/Index.js")" type="text/javascript" defer="defer"></script>


<div class="form-container">
    <h2>Waiting for someone to join...</h2>
    <img src="~/Content/GIF/loading-bar.gif" />
</div>
