@model string
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<div class="form-container">
    <h2>Waiting for someone to join...</h2>
    <h1>Game code: @Model</h1>
    <img id="waiting_bar" src="~/Content/GIF/loading-bar.gif" />
</div>
